*{
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
}
.title{
    width: 100%;
    height: 50px;
    color: #333;
    line-height: 50px;
    text-align: center;
}
.goods-btn{
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 4px;
}
/*商品列表 start*/
.goods-view{
    width: 100%;
    height: 100%;
}
.goods-list{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 8px;
    color: #333;
}
.goods-info{
    width: 100%;
    height: 150px;
    border: 1px solid #eeeeee;
    border-top: 0px;
    box-shadow: 0 2px 3px -1px #999;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.goods-info:active{
    background: rgba(0,0,0,.1);
}
.passageway{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.goods-content{
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.goods-img{
    width: 50px;
    height: 50px;
    background: #999999;
    float: left;
}
.goods-details{
    width: calc(100% - 60px);
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: "黑体";
    font-size: 18px;
    float: left;
}
.goods-num{
    font-size: 16px;
    color: #666;
}
.goods-handle{
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}
.is-use{
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
    color: #999999;
}
.goods-check{
    width: 50%;
    height: 100%;
    float: right;
    text-align: right;
    box-sizing: border-box;
    padding-right: 10px;
    color: #666666;
}
/*商品列表 end*/

/*商品详情 start*/
.details-info{
    width: 100%;
    height: 430px;
    border: 1px solid #eeeeee;
    border-top: 0px;
    box-shadow: 0 2px 3px -1px #999;
    padding: 20px 14px;
    box-sizing: border-box;
}
.details-img{
    width: 100%;
    height: 300px;
    background: url("../img/goods.png") no-repeat;
    background-size: 100% auto;
    background-position: center center;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.details-time-and-money{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #999;
}
.details-btn{
    width: 98%;
    margin: 0 auto;
    background: rgb(53, 213, 132);
    margin-top: 30px;
}
.details-btn:active{
    background: rgba(53, 213, 132,.8);
}

/*商品详情 end*/

/*订单详情 start*/

.info-table{
    width: 100%;
    height: 300px;
    padding: 30px 20px;
    box-sizing: border-box;
    font-family: "黑体";
}
.info-table li{
    width: 100%;
    height: auto;
}
.info-table li div.label{
    width: 30%;
    height: 30px;
    line-height: 30px;
    float: left;
}
.info-table li div.explain{
    width: 70%;
    height: 30px;
    line-height: 30px;
    float: left;
}

.info-table li div.special{
    height: 50px;
    line-height: 50px;
}
.order-btn-list{
    width: 96%;
    margin: 0 auto;
    height: auto;
}
.order-cancel{
    background: rgb(255, 69, 93);
    width: 49%;
    float: left;
}
.order-cancel:active{
    background: rgba(255, 69, 93,.8);
}
.order-payment{
    background: rgb(53, 213, 132);
    width: 49%;
    float: right;
}
.order-payment:active{
    background: rgba(53, 213, 132,.8);
}
/*订单详情 end*/