<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicfire.modular.machine.dao.MachinePositionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.musicfire.modular.machine.entity.MachinePosition">
        <id column="id" property="id" />
        <result column="machine_id" property="machineId" />
        <result column="commodity_id" property="commodityId" />
        <result column="state" property="state" />
        <result column="default" property="default" />
        <result column="num" property="num" />
        <result column="flag" property="flag" />
        <result column="available" property="available" />

    </resultMap>
    <resultMap id="NewResultMap" type="com.musicfire.modular.machine.dto.MachinePositionDto" extends="BaseResultMap">
        <result column="machineName" property="machineName" />
        <result column="machineCode" property="machineCode" />
        <result column="merchantName" property="merchantName" />
        <result column="commodityName" property="commodityName" />
        <result column="commodityId" property="commodityId" />
        <result column="price" property="price" />
    </resultMap>

    <select id="queryByMachine" parameterType="com.musicfire.modular.machine.query.MachinePage" resultMap="NewResultMap">
        select mp.available,mp.state,mp.id,mp.num ,m.name as machineName,m.`code` as machineCode,u.name as merchantName,c.`name` as commodityName,cs.price,mp.commodity_id as commodityId
        from machine_position mp
        left join machine m on mp.machine_id = m.id
        left join merchant me on me.id = m.id
        left join commodity c on c.id = mp.commodity_id
        left join sys_user u on  u.id = me.user_id
        left join commodity_stock cs on cs.commodity_id = mp.commodity_id
        where mp.flag = false
        <if test="null != machineId and '' != machineId">
            and m.id = #{machineId}
        </if>
        <if test="null != machineCode and '' != machineCode">
            and m.code = #{machineCode}
        </if>
        <if test="null != machineName and '' != machineName">
            and m.name = #{machineName}
        </if>
        limit #{startPosition},#{pageSize}
    </select>
    <select id="queryByCount" parameterType="com.musicfire.modular.machine.query.MachinePage" resultType="java.lang.Integer">
        select count(mp.id)
        from machine_position mp
        left join machine m on mp.machine_id = m.id
        left join merchant me on me.id = m.id
        left join commodity c on c.id = mp.commodity_id
        left join sys_user u on  u.id = me.user_id
        left join commodity_stock cs on cs.commodity_id = mp.commodity_id
        where mp.flag = false
        <if test="null != machineId and '' != machineId">
            and m.id = #{machineId}
        </if>
        <if test="null != machineCode and '' != machineCode">
            and m.code = #{machineCode}
        </if>
        <if test="null != machineName and '' != machineName">
            and m.name = #{machineName}
        </if>
    </select>

</mapper>
