<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicfire.modular.machine.dao.MachinePositionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.musicfire.modular.machine.entity.MachinePosition">
        <id column="id" property="id" />
        <result column="machine_id" property="machineId" />
        <result column="state" property="state" />
        <result column="default" property="default" />
    </resultMap>

</mapper>
