<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicfire.modular.merchant.dao.MerchantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.musicfire.modular.merchant.entity.Merchant">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="title" property="title" />
        <result column="phone" property="phone" />
        <result column="type" property="type" />
        <result column="logo" property="logo" />
        <result column="lon_and_lat" property="lonAndLat" />
        <result column="describe" property="describe" />
        <result column="create_time" property="createTime" />
        <result column="create_id" property="createId" />
        <result column="update_time" property="updateTime" />
        <result column="update_id" property="updateId" />
        <result column="address" property="address" />
    </resultMap>


    <select id="merchantByPage" parameterType="com.musicfire.modular.merchant.query.MerchantPage" resultMap="BaseResultMap">
         select m.*  from merchant m
         where m.flag =false
        <if test="null != merchantName and ''!= merchantName">
            and m.name LIKE CONCAT('%',#{merchantName},'%')  or m.title LIKE CONCAT('%',#{merchantName},'%')
        </if>
         limit #{startPosition},#{pageSize}
    </select>
    <select id="countByPage" parameterType="com.musicfire.modular.merchant.query.MerchantPage" resultType="java.lang.Integer">
        select count(m.id) from merchant m
        where m.flag =false
        <if test="null != merchantName and ''!= merchantName">
            and m.name LIKE CONCAT('%',#{merchantName},'%')  or m.title LIKE CONCAT('%',#{merchantName},'%')
        </if>
    </select>


</mapper>
