<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicfire.modular.order.dao.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.musicfire.modular.order.entity.Order">
        <id column="id" property="id" />
        <result column="machine_id" property="machineId" />
        <result column="commodity_id" property="commodityId" />
        <result column="merchant_id" property="merchantId" />
        <result column="machine_position_id" property="machinePositionId" />
        <result column="price" property="price" />
        <result column="payment_method" property="paymentMethod" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="number" property="number" />
    </resultMap>

</mapper>
